@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #201e35;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

button {
  position: relative;
  transition: all .4s;
  padding: 23px 33px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font: normal 100 1.3rem Roboto;
}

button:hover {
  background-color: transparent;
  color: #2a4dc7;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 7px;
  transition: all .4s;
}

button:hover::before {
  opacity: 0;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: 3px solid #2a4dc7;
  opacity: 0;
  transform: scaleX(1.1) scaleY(1.3);
  transition: all .4s;
}

button:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
